<article>
  <header>
    <h1 class=>Welcome to the best page on this website</h1>
  </header>

  <section>
    <h2>On image loading:</h2>
    <p>
      A long time ago, while I was at my first contract ever, my client used
      Google Chat to keep in touch with everyone since we were all remote
      except the one day every other week they made us haul ass to Big Rapids
      at 7-o-****ing-clock. They also made me use Subversion, which was mostly
      a huge pain, but I was too green to know it at the time.
    </p>
    <p>
      I digress: Google Chat wasn't as good as Slack, but it did let me upload
      this kickass avatar which I made in under 5 minutes using a touchpad in
      MS Paint. The contract is long over, but this avatar is now plastered all
      over every profile I've made or updated since then. Weird what stuff
      sticks with us.
    </p>
    <p>
      Anyway, here's an image I loaded with Webpacker:
    </p>
    <%= image_pack_tag "media/images/avatar.png" %>
  </section>

  <section>
    <h2>On CSS loading:</h2>
    <p>
      Out of all the technologies I use on a regular basis, I think I like CSS
      the least. It always feels like a mess no matter how you cut it. It also
      singlehandedly removed the need for the most absurd HTML element in
      existence - <%= tag.span "<blink>", class: "regret" %> - (safely
      replicated here with Webpacker-loaded CSS) so I guess that's good. That
      particular tag is always a reminder that tech in the 90's seems like a
      Weird Place to have been, and I'm kinda bummed I missed it.
    </p>
  </section>

  <section>
    <h2>On image loading within CSS:</h2>
    <p>
      Hexagons are - by far - my favorite 2D shape. What's not to love? In the
      ordered sequence of the regular polygons (sides and angles all of equal
      measure) they are the last that is able to tesselate cleanly. This means
      I can illustrate Webpacker-loaded images used in Webpacker-loaded CSS by
      creating a background tiling of the Webpack logo.
    </p>
    <p>
      Nice.
    </p>
    <p>
      Unrelated: I have mistyped "Webpack" over 10 times so far while making
      this illustrative website. It might be the hardest word ever to type.
      Perhaps it has something to do with "bp" being a very unusual combination
      of adjacent letters? Or maybe their position on the keyboard? C'est la
      vie.
    </p>
  </section>
</article>
