<article>
  <header>
    <h1 class=>Welcome to the best page on this website</h1>
  </header>

  <section>
    <h2>On image loading:</h2>
    <p>
      A long time ago, while I was at my first contract ever, my client used
      Google Chat to keep in touch with everyone since we were all remote
      except the one day every other week they made us haul ass to Big Rapids
      at 7-o-****ing-clock. They also made me use Subversion, which was mostly
      a huge pain, but I was too green to know it at the time.
    </p>
    <p>
      I digress: Google Chat wasn't as good as Slack, but it did let me upload
      this kickass avatar which I made in under 5 minutes using a touchpad in
      MS Paint. The contract is long over, but this avatar is now plastered all
      over every profile I've made or updated since then. Weird what stuff
      sticks with us.
    </p>
    <p>
      Anyway, here's an image I loaded with Webpacker:
    </p>
    <%= image_pack_tag "media/images/avatar.png" %>
  </section>
</article>
